/* FONT */
@font-face {
  font-family: CaviarDreams;
  src: url("fonts/CaviarDreams.ttf") format("opentype");
}
/* GENERAL */
body {
  margin: 0;
  padding: 0;
  font-family: CaviarDreams, "Times New Roman", Times, serif;
}
.article-table {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
/* HEADER */
header {
  height: 125px;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(79, 158, 219, 0.7);
  display: flex;
}
#header-title {
  color: white;
  font-size: 45px;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
}
/* SECTION */
section {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#section-article-title {
  margin: 0;
  margin-bottom: 15px;
  color: black;
  font-size: 50px;
  text-align: center;
}
#section-article-form,
.section-article-form-article {
  display: flex;
  flex-direction: column;
}
.section-article-form-article {
  font-size: 25px;
  margin: auto;
  padding-bottom: 15px;
}

article {
  margin-bottom: 25px;
}
article > select {
  padding-left: 10px;
  margin-top: 5px;
  margin-left: 5px;
  height: 40px;
  width: 225px;
}
.section-article-form-article-button {
  margin-top: 10px;
}
#location-button {
  margin-top: 5px;
}
button,
.section-article-form-article-inputbutton {
  color: white;
  background: #4c8ffb;
  border: 1px #3079ed solid;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  outline: none;
  font-family: CaviarDreams;
}
button:hover,
.section-article-form-article-inputbutton:hover {
  opacity: 0.75;
}
.link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.p-padding {
  padding-right: 25px;
}
#article-map {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#article-leatlet {
  width: 700px;
  height: 600px;
}
table {
  border-collapse: collapse;
}
th,
td {
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  border: 2px solid black;
}
.article-leatlet {
  height: 100px;
}
/* FOOTER */
footer {
  margin-top: 60px;
  height: 50px;
  width: 100%;
  background-color: rgba(79, 158, 219, 0.7);
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
